---
import Layout from "../layouts/Layout.astro";
import { FaDiscord } from "react-icons/fa";
import { GrLocation } from "react-icons/gr";
import Clock from "@/components/Clock.astro";
import ProjectCard from "@/components/ProjectCard";
import { BsPerson } from "react-icons/bs";
import { Separator } from "@/components/ui/separator";
import { contactInfo } from "@/data/contact";
import banner from "@/assets/banner.webp";
import DiscordPresence from "@/components/DiscordPresence";

const url = new URL("/api/github", Astro.url).toString();
---

<Layout>
  <!-- Hero -->
  <div
    class="h-fit lg:h-screen flex flex-col justify-center lg:text-start p-8 relative"
  >
    <!-- Background wrapper -->
    <div
      class="absolute inset-0 bg-cover bg-center -z-1"
      style={`background-image: url(${banner.src}); background-position: center; background-repeat: no-repeat; background-size: cover; mask-image: linear-gradient(to bottom, var(--background), rgba(0, 0, 0, 0));`}
    >
    </div>
    <div
      class="flex flex-col lg:flex-row lg:mx-16 xl:mx-36 items-center justify-between gap-2 md:gap-8"
    >
      <div class="flex flex-col flex-1 gap-4 text-center lg:text-start">
        <div>
          <h1>
            👋 hey hey, i'm <span class="text-gradient" id="title"></span>
          </h1>
          <h4 class="text-muted dark:text-muted-foreground">front-end dev</h4>
        </div>
        <div>
          <p>
            i'm a self-taught front-end developer that's incredibly passionate
            about programming and ui development.
          </p>
          <p>
            i'm also really into gaming (especially gacha games), esports
            (mainly counter strike and rocket league), a little bit of
            speedcubing and keyboard modding.
          </p>
        </div>
        <div
          class="flex flex-col lg:flex-row items-center justify-between gap-4"
        >
          <div class="flex items-center gap-3">
            <div class="border border-accent p-2 rounded-sm">
              <BsPerson />
            </div>
            <span>he/him</span>
          </div>
          <div class="flex flex-row items-center gap-3">
            <div class="border border-accent p-2 rounded-sm">
              <GrLocation />
            </div>
            <span>przemyśl, poland</span>
          </div>
          <Clock />
        </div>
        <span
          class="bg-green-600/20 px-4 py-2 border border-green-600 rounded-md text-center self-center"
        >
          available for internships/work/commissions
        </span>
      </div>
      <!-- Discord -->
      <div class="flex flex-col justify-center gap-8 flex-1">
        <DiscordPresence client:load />
        {
          import.meta.env.DEV ? (
            <img
              src="https://count.getloli.com/@xchrl.xyz-dev?name=xchrl.xyz-dev&theme=booru-r6gdrawfriends&padding=7&offset=0&align=center&scale=1&pixelated=1&darkmode=0"
              alt="xchrl.xyz-dev"
              class="px-4"
            />
          ) : (
            <img
              src="https://count.getloli.com/@xchrl.xyz-prod?name=xchrl.xyz-prod&theme=booru-r6gdrawfriends&padding=7&offset=0&align=center&scale=1&pixelated=1&darkmode=0"
              alt="xchrl.xyz-prod"
              class="px-4"
            />
          )
        }
      </div>
    </div>
  </div>
  <!-- Main container -->
  <div
    class="mx-auto max-w-10/12 lg:max-w-17/20 xl:max-w-7/10 my-4 flex flex-col gap-4 md:gap-8 text-center md:text-start"
  >
    <!-- Contact -->
    <div class="flex flex-col gap-4 text-center md:text-start">
      <h2>you can find me on social media:</h2>
      <ul class="flex flex-col gap-4">
        <li
          class="flex flex-col md:flex-row gap-y-2 items-center justify-between"
        >
          <div class="flex items-center gap-3 text-xl">
            <FaDiscord />
            <h4>discord</h4>
          </div>
          <iframe
            title="Discord user embed"
            width="340"
            height="72"
            sandbox="allow-scripts"
            src="https://widgets.vendicated.dev/user?id=329597208494211073&theme=light&banner=false&full-banner=false&rounded-corners=true&discord-icon=true&badges=false&guess-nitro=false&"
            class="block dark:hidden hover:scale-110 duration-150 max-w-full"
          ></iframe>
          <iframe
            title="Discord user embed"
            width="340"
            height="72"
            sandbox="allow-scripts"
            src="https://widgets.vendicated.dev/user?id=329597208494211073&theme=dark&banner=false&full-banner=false&rounded-corners=true&discord-icon=true&badges=false&guess-nitro=false&"
            class="hidden dark:block hover:scale-110 duration-150 max-w-full"
          ></iframe>
        </li>
        {
          contactInfo.map(({ type, name, link, Icon }) => (
            <li class="flex flex-col md:flex-row gap-2 items-center justify-between">
              <div class="flex items-center gap-3 text-xl">
                <Icon />
                <h4>{type}</h4>
              </div>
              <a
                href={link}
                class="px-3 rounded-full bg-muted border border-accent/40 hover:text-background hover:bg-accent hover:scale-110 duration-150"
                target="_blank"
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <Separator />
    <!-- Projects -->
    <div class="flex flex-col gap-4">
      <h2 class="text-center md:text-start">
        here's some of the <span class="text-accent">projects</span> i've worked
        on:
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
        {
          import.meta.env.DEV ? (
            <div class="h-80 text-center">
              <h1>Projects placeholder</h1>
            </div>
          ) : (
            <ProjectCard url={url} client:visible />
          )
        }
      </div>
    </div>
  </div>
</Layout>

<script>
  import Typed from "typed.js";

  document.addEventListener("astro:after-swap", startTyped);
  document.addEventListener("DOMContentLoaded", startTyped);

  function startTyped() {
    new Typed("#title", {
      strings: ["xchrl!", "charlie!"],
      showCursor: false,
      backSpeed: 160,
      typeSpeed: 160,
      backDelay: 2000,
      startDelay: 500,
      loop: true,
    });
  }
</script>
